.App{
    min-height: 100vh;
    display: flex;
    background-image: url("../public/background 1.png");
    background-size: cover;
    background-position: center;
}

.red{
    background-color: rgba(255, 55, 55, 0.894);
}

img{
    height: 100px;
    width: 100px;
} 